body {
    font-family: 'Comic Sans MS', sans-serif; 
   background-color: #9de8f5;
}


@font-face {
    font-family: 'Comic Sans MS';
    src: url('./fonts/comicsans.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

.bacground{
    background-image: url(../image/8.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-origin: border-box;
    background-position: center;
}